.menu {
  margin: 0;
  padding: 0;
  background: var(--color-lightGreen);
  border-bottom: 6px solid var(--color-gray);
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-hamburger {
  width: 46px;
  height: 46px;
  border-radius: 4px;
  margin: 4px;
  border: none;
  background: var(--color-lightGreen);
  cursor: pointer;
  &__item {
    display: block;
    background-color: var(--color-gray);
    height: 4px;
    width: 30px;
    border-radius: 4px;
    margin: 6px auto;
  }
}

.menu-darkmode {
  width: 46px;
  height: 46px;
  border-radius: 4px;
  margin: 4px;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 2px 0 0 0;
  font-size: 16px;
  background: var(--color-gray);
  color: var(--color-lightGreen);
}

.menu-home {
  width: 46px;
  height: 46px;
  border-radius: 4px;
  margin: 4px;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 2px 0 0 0;
  font-size: 16px;
  background: var(--color-gray);
  color: var(--color-lightGreen);

  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    text-decoration: none;
    color: var(--color-lightGreen);
  }
}

.menu-navigation {
  display: none;
  &__link {
    font-size: 16px;
    color: var(--color-gray);
    text-decoration: none;
    padding: 0;
    margin: 0 0 0 30px;
    font-weight: 400;
    opacity: 1;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
      color: var(--color-gray);
    }
  }
  &--open {
    margin: 0;
    padding: 2px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
}
