.header-home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url("../assets/img/background_homepage_terminal.jpg");
    background-position: center;
    background-size: cover;
    height: 120px;
    width: 100%;
    &__title {
      font-size: 30px;
      text-align: center;
      font-weight: 700;
      color: var(--h1-white);
    }
  }
  