.notes {
  padding: 0;
  margin: 0;
  &__button {
    width: 34px;
    height: 34px;
    border-radius: 4px;
    margin-left: 10px;
    margin-bottom: 1px;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 2px 0 0 1px;
    font-size: 16px;
    background: var(--color-gray);
    color: var(--color-orange);
  }
  &__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    background-color: var(--color-purple);
    font-size: 20px;
    padding: 0;
    height: 60px;
    border-top: 2px solid var(--color-gray);
    border-bottom: 2px solid var(--color-orange);
    margin: 0;
    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
    @media screen and (max-width: 375px) {
      font-size: 16px;
    }
    &--workInProgress {
      animation: rotate 14s linear infinite;
      width: 30px;
      height: 30px;
      margin: 0 10px;
      padding: 0;
      border: none;
      background: none;
    }
  }
}

.notes-article {
  &__iframe {
    width: 200px;
    height: 200px;
  }
  &__intro {
    display: flex;
    flex-direction: row;
  }
  &--aside {
    display: none;
  }
  &--openAside {
    display: block;
    background-color: var(--color-lightGreen);
    margin: 0;
    padding: 0;
    width: 200px;
    text-align: left;
    border-left: 2px solid var(--color-gray);
  }

  &--bootstrap {
    background: var(--color-gray);
    width: 100%;
  }

  &__title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid var(--color-gray);
    border-bottom: 2px solid var(--color-gray);
    font-weight: 400;
    background-color: var(--color-orange);
    font-size: 18px;
    padding: 0;
    height: 50px;
    margin: 0;
    @media screen and (max-width: 768px) {
      font-size: 16px;
    }
    @media screen and (max-width: 375px) {
      font-size: 14px;
    }
  }
  &__subTitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid var(--color-gray);
    border-bottom: 2px solid var(--color-gray);
    font-size: 16px;
    background-color: var(--color-green);
    padding: 0;
    font-weight: 400;
    height: 40px;
    margin: 0;
    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
    @media screen and (max-width: 375px) {
      font-size: 12px;
    }
  }

  &__image {
    width: 100%;
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
    border-radius: 8px;
    &--special {
      width: 250px;
      height: 100%;
      box-shadow: none;
      margin: 10px;
    }
  }

  &__link {
    color: var(--color-pink);
    text-decoration: none;
  }
  &__description {
    padding: 0;
    text-align: center;
    margin: 16px 10px;
    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
    @media screen and (max-width: 375px) {
      font-size: 12px;
    }
    &--bootstrap {
      color: var(--color-bg);
      padding: 10px 0;
    }
  }

  /*LIST*/
  .notes-list {
    list-style-position: outside;
    margin: 10px 0;
    padding-left: 34px;
    padding-right: 10px;
    &--legend {
      display: flex;
      flex-direction: row;
    }
    &__element {
      margin: 0;
      padding-left: 10px;
      padding-bottom: 10px;
      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
      @media screen and (max-width: 375px) {
        font-size: 12px;
      }
      &--special {
        margin-top: 4px;
        border-top: 1px solid var(--color-gray);
      }
      &--abbr {
        opacity: 0.6;
        cursor: help;
        &:hover {
          opacity: 1;
        }
      }
    }
    &__link {
      text-decoration: none;
      font-weight: 700;
      color: var(--color-pink);
      opacity: 1;
      &:hover {
        text-decoration: none;
        color: var(--color-pink);
        opacity: 0.6;
      }
    }
  }
}

figcaption {
  text-align: center;
  padding-top: 10px;
  color: var(--color-bg);
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.notes-table {
  width: 100%;
  padding: 0;
  text-align: center;
  margin: 0;
  &__td {
    font-size: 14px;
    border: 1px solid var(--color-gray);
    background-color: var(--color-orange);
    @media screen and (max-width: 768px) {
      padding: 0;
      margin: 0;
      font-size: 12px;
    }
    @media screen and (max-width: 375px) {
      font-size: 8px;
      margin: 0;
      padding: 0;
    }
    &--special {
      font-size: 14px;
      color: var(--color-pink);
      background-color: var(--color-bg);
      @media screen and (max-width: 768px) {
        padding: 0;
        font-size: 12px;
        margin: 0;
      }
      @media screen and (max-width: 375px) {
        padding: 0;
        font-size: 8px;
        margin: 0;
      }
    }
  }
  &__th {
    font-size: 14px;
    border: 1px solid var(--color-gray);
    background-color: var(--color-purple);
    padding: 14px;
    font-weight: 700;
    @media screen and (max-width: 768px) {
      font-size: 12px;
      padding: 0;
      margin: 0;
      font-weight: 400;
    }
    @media screen and (max-width: 375px) {
      padding: 0;
      font-size: 8px;
      margin: 0;
    }
  }
}

.table-wrapper {
  width: 100%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
