@mixin mediaTabletMobile {
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
  @media screen and (max-width: 425px) {
    font-size: 12px;
  }
  @media screen and (max-width: 320px) {
    font-size: 10px;
  }
}

.notes {
  padding-bottom: 20px;
  margin: 0;
  &__title {
    font-weight: 400;
    background-color: var(--color-purple);
    font-size: 20px;
    padding: 8px 0;
    height: 60px;
  }
  &__intro {
    display: flex;
    flex-direction: row;
  }
  &--aside {
    background-color: var(--color-lightGreen);
    border-left: 16px solid var(--color-gray);
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100%;
    @media screen and (max-width: 425px) {
      font-size: 12px;
    }
  }
  &__article {
    &--bootstrap {
      background: var(--color-gray);
      width: 100%;
    }
  }

  &--h3 {
    font-weight: 400;
    background-color: var(--color-orange);
    font-size: 20px;
    padding: 8px 0;
    height: 60px;
    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
    @media screen and (max-width: 425px) {
      font-size: 12px;
    }
    @media screen and (max-width: 320px) {
      font-size: 10px;
    }
  }
  &--h4 {
    font-size: 18px;
    background-color: var(--color-green);
    padding: 0;

    font-weight: 400;
    height: 40px;
  }

  &__images {
    display: flex;
    justify-content: space-between;
  }
  &__image {
    width: 100%;

    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
    border-radius: 8px;
    &--special {
      width: 250px;
      height: 100%;
      box-shadow: none;
      margin: 10px;
    }
    &--bird {
      display: flex;
      justify-content: center;
      width: 100px;
      height: 100px;
      border-radius: 100px;
      margin: 0 auto;
      transform: rotate(-360deg);
      transition-duration: 2s;
      cursor: pointer;
      &:hover {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        transform: rotate(360deg);
        transition-duration: 2s;
      }
    }
  }
  &__link {
    color: var(--color-pink);
    text-decoration: none;
  }
  &__description {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    @include mediaTabletMobile;
    &--bootstrap {
      color: var(--color-bg);
      padding: 10px 0;
    }
    &--bird {
      text-align: center;
    }
  }
  &__dt {
    font-weight: bold;
    padding: 16px;
    @include mediaTabletMobile;
  }
  &__dd {
    @include mediaTabletMobile;
  }
  &__progress {
    width: 100%;
    background-color: greenyellow;
    color: indianred;
    border: 2px solid black;

    margin-top: 20px;
  }

  /*LIST*/
  .notes-list {
    &--legend {
      display: flex;
      flex-direction: row;
    }
    &__element {
      margin: 10px 0;
      @include mediaTabletMobile;
      &--special {
        margin-top: 4px;
        padding: 8px 0 0 0;
        border-top: 1px solid var(--color-black);
      }
      &--abbr {
        opacity: 0.6;
        cursor: help;
        &:hover {
          opacity: 1;
        }
      }
    }
    &__link {
      text-decoration: none;
      font-weight: 700;
      color: var(--color-pink);
      opacity: 1;
      &:hover {
        text-decoration: none;
        color: var(--color-pink);
        opacity: 0.6;
      }
    }
  }
}
