//gameJS

.gameJS {
  width: 600px;
  height: 200px;
  margin: 0 auto;
  padding: 0;
  background: black;
  &__mePerson {
    width: 25px;
    height: 50px;
    background: greenyellow;
    position: relative;
    top: 150px;
    left: 50px;
  }
  &__javaScript {
    padding:0;
    margin:0;
    // animation: runJS 1s linear infinite;
    width: 25px;
    height: 25px;
    text-align: center;
    color: var(--color-gray);
    font-size: 20px;
    background-color: yellow;
    position: relative;
    top: 125px;
    left:0;
  }
  &__jumpButton {
    width: 46px;
    height: 46px;
    border-radius: 4px;
    margin: 4px;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 2px 0 0 0;
    font-size: 16px;
    background: var(--color-gray);
    color: var(--color-lightGreen);
    position: relative;
    top: -75px;
    left: 5px;
  }
}

.animation {
  animation: myJump 0.5s ease-out;
}

@keyframes runJS {
  0% {
    left: 575px;
  }
  100% {
    left: 0;
  }
}

@keyframes myJump {
  0% {
    top: 150px;
  }
  30% {
    top: 85px;
  }
  70% {
    top: 85px;
  }
  100% {
    top: 150px;
  }
}

.time {
  display: block;
  padding: 0 10px;
  color: var(--color-gray);
  background-color: var(--color-bg);
}
