.footer {
  border-top: 2px solid var(--color-gray);
  background: var(--color-lightGreen);
  &__description {
    text-align: center;
    color: var(--color-gray);
    font-size: 18px;
    font-style: italic;
    padding: 10px 0;
    margin: 0;
    &--link {
      text-decoration: none;
      color: var(--color-pink);
      opacity: 1;
      &:hover {
        text-decoration: none;
        color: var(--color-pink);
        opacity: 0.8;
      }
    }
  }
}
