.footer {
  border-top: 2px solid var(--color-gray);
  background: var(--color-lightGreen);
  &__description {
    text-align: center;
    color: var(--color-gray);
    font-size: 12px;
    font-style: italic;
    padding: 10px;
    margin: 0;
    @media screen and (max-width: 375px) {
      font-size: 8px;
    }
    &--link {
      text-decoration: none;
      color: var(--color-pink);
      opacity: 1;
      &:hover {
        text-decoration: none;
        color: var(--color-pink);
        opacity: 0.8;
      }
    }
  }
}
