@mixin widthMargin {
  width: 80%;
  margin: 0 auto;
}

.box-model {
  background: #2d2240;
  width: 100%;
  height: 320px;
  text-align: center;
  color: white;
  font-size: 20px;
  @media screen and (max-width: 768px) {font-size: 20px;}
  @media screen and (max-width: 425px) {font-size: 18px;}
  @media screen and (max-width: 320px) {font-size: 12px;}
  &__margin {
    background: #f9cd9b;
    color: var(--color-black);
    height: 80%;
    @include widthMargin;
  }
  &__border {
    background: #fddd9a;
    border: 5px solid var(--color-black);
    height: 80%;
    @include widthMargin;
  }
  &__padding {
    background: #c3d08b;
    height: 70%;
    @include widthMargin;
  }
  &__element {
    background: #8cb6c2;
    height: 50%;
    @include widthMargin;
  }
}
