:root {
  //basic colors:
  --color-lightGreen: #daff82;
  --color-purple: #a38fff;
  --color-orange: #ffd475;
  --color-pink: #e86bab;
  --color-green: #75ffc2;

  --color-black: black;
  --color-white: white;
  --color-gray: #333333;

  --color-darkpurple: #796db3;
  --link-color: #ff75bb;
  --color-html: #ff761e;
  --color-css: #58a3e6;
  --color-js: #f7df1e;
  --color-termina: #686a6b;
  --color-react: #61dafb;

  --bacground1: rgb(250, 255, 238);

  --dot-hover: rgb(212, 203, 203);
  --click-menu-button: white;
}
