:root {
  //basic colors:
  --color-lightGreen: #daff82;
  --color-purple: #a38fff;
  --color-orange: #ffd475;
  --color-pink: #e86bab;
  --color-green: #75ffc2;

  //basic dark colors:
  --color-gray: #333333;
  --color-bg: #faffee;
 
  --h1-white: #ffffff;
}

// 1. dark mode final
// 2. usunięcie nie potrzebnych kolorów
// 3. zmiana kolorów z stylach
// 4. add iverted color bg image
