:root {
  //basic colors:
  --color-lightGreen: #daff82;
  --color-purple: #a38fff;
  --color-orange: #ffd475;
  --color-pink: #e86bab;
  --color-green: #75ffc2;

  //basic dark colors:
  --color-black: black;
  --color-white: white;
  --color-gray: #333333;
  --color-bg: #faffee;


}
