.dot {
  background: var(--dot);
  width: 22px;
  height: 22px;
  border-radius: 100%;
  border: none;
  margin: 4px;
  cursor: pointer;
  &:hover {
    background: var(--dot-hover);
margin-left: 34px;
  }
  @media screen and (max-width: 768px) {
    width: 14px;
    height: 14px;
  }
  @media screen and (max-width: 425px) {
    width: 10px;
    height: 10px;
  }
  @media screen and (max-width: 320px) {
    width: 2px;
    height: 2px;
  }
}

.darkmode {
  display: flex;
  justify-content: left;
  align-items: center;
  background: var(--text-font);
  width: 60px;
  height: 34px;
  margin: 10px 2px 10px 2px;
  border-radius: 25px;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    width: 24px;
    height: 24px;
  }
  @media screen and (max-width: 425px) {
    width: 20px;
    height: 20px;
  }
  @media screen and (max-width: 320px) {
    width: 16px;
    height: 16px;
  }
}
