.footer {
  display: flex;
  color: var(--color-gray);
  font-size: 18px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--color-lightGreen);
  padding: 10px;
  border-top: 6px solid var(--color-gray);
  font-style: italic;
  height: 61px;
  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
  @media screen and (max-width: 425px) {
    font-size: 10px;
  }
  @media screen and (max-width: 320px) {
    font-size: 10px;
  }
}
