.footer {
  display: flex;
  color: var(--color-darkpurple);
  font-size: 18px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--color-green);
  padding: 10px;
  border-top: 6px solid var(--color-purple);
  font-style: italic;
  height: 61px;
  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
  @media screen and (max-width: 425px) {
    font-size: 10px;
  }
  @media screen and (max-width: 320px) {
    font-size: 10px;
  }
  &--html,
  &--css,
  &--js,
  &--terminal {
    color: var(--text-font);
    border-top: 6px solid var(--color-gray);
  }
  &--html {
    background: var(--color-html);
  }
  &--css {
    background: var(--color-css);
  }
  &--js {
    background: var(--color-js);
  }
  &--terminal {
    background: var(--color-termina);
  }
}
