.grid {
  display: grid;
  grid-template-areas:
    "header header header"
    "article . aside"
    "footer footer footer";
  grid-template-columns: 60% 10% 30%;
  grid-template-rows: 1fr 300px 1fr;
  row-gap: 16px;
  background: #2d2240;
  padding: 16px;
  margin: 0;
  &__header {
    grid-area: header;
    background: #f9cd9b;
  }
  &__article {
    grid-area: article;
    background: #fddd9a;
  }
  &__aside {
    grid-area: aside;
    background: #c3d08b;
  }
  &__footer {
    grid-area: footer;
    background: #8cb6c2;
  }
}
