@mixin mediaTabletMobile {
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
  @media screen and (max-width: 425px) {
    font-size: 12px;
  }
  @media screen and (max-width: 320px) {
    font-size: 10px;
  }
}

.notes {
  padding-bottom: 20px;
  margin: 0;
  &--aside {
    background-color: var(--color-lightGreen);
    border-left: 16px solid var(--color-gray);
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-pink);
    color: var(--color-gray);
    padding: 0;
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
    border-top: 6px solid var(--color-gray);
    border-bottom: 6px solid var(--color-gray);
    height: 80px;
    @media screen and (max-width: 768px) {
      font-size: 22px;
    }
    @media screen and (max-width: 425px) {
      font-size: 18px;
    }
    @media screen and (max-width: 320px) {
      font-size: 12px;
    }
    &--h3 {
      font-weight: 400;
      background-color: var(--color-orange);
      font-size: 20px;
      padding: 8px 0;
      height: 60px;
      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
      @media screen and (max-width: 425px) {
        font-size: 12px;
      }
      @media screen and (max-width: 320px) {
        font-size: 10px;
      }
    }
    &--h4 {
      font-size: 18px;
      background-color: var(--color-green);
      padding: 0;

      font-weight: 400;
      height: 40px;
    }
  }
  &__images {
    display: flex;
    justify-content: space-between;
  }
  &__image {
    width: 100%;
    &--about-me {
      border: 6px solid var(--color-purple);
      width: 30%;
      margin-bottom: 20px;
    }
    &--bird {
      display: flex;
      justify-content: center;
      width: 100px;
      height: 100px;
      border-radius: 100px;
      margin: 0 auto;
      transform: rotate(-360deg);
      transition-duration: 2s;
      cursor: pointer;
      &:hover {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        transform: rotate(360deg);
        transition-duration: 2s;
      }
    }
  }
  &__link {
    color: var(--color-pink);
    text-decoration: none;
  }
  &__description {
    padding: 0 80px;
    text-align: center;
    @include mediaTabletMobile;
    &--bird {
      text-align: center;
    }
  }
  &__dt {
    font-weight: bold;
    padding: 16px;
    @include mediaTabletMobile;
  }
  &__dd {
    @include mediaTabletMobile;
  }
  &__progress {
    width: 100%;
    background-color: greenyellow;
    color: indianred;
    border: 2px solid black;

    margin-top: 20px;
  }
}

/*LIST*/
.notes-list {
  &__element {
    margin: 10px 0;
    @include mediaTabletMobile;
    &--special {
      margin-top: 4px;
      padding: 8px 0 0 0;
      border-top: 1px solid var(--color-black);
    }
  }
  &__link {
    text-decoration: none;
    font-weight: 700;
    color: var(--color-pink);
  }
}

b {
  padding-right: 4px;
}

.div {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
