@import "~normalize.css";
// @import "custom"; /*fourth step to install bootstrap*/
@import "~bootstrap/scss/bootstrap"; /*fourth step to install bootstrap*/

@import "modules/1.body_nav.scss";
@import "modules/2.body_header.scss";
@import "modules/3.main_notes.scss";
@import "modules/4.main_variables.scss";
@import "modules/5.body_footer.scss";
@import "modules/6.colors_root.scss";

@import url("https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap");
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
::-webkit-scrollbar {
  display: none;
}
.body {
  background: var(--color-bg);
  font-family: "Miriam Libre", sans-serif;
  font-size: 16px;
  color: var(--color-gray);
  margin: 0;
  padding: 0;
}
.main {
  margin: 0;
  padding: 0;
  &--html{
    width:100vw;
    display:flex;
    flex-direction: row;
  }
}