@import "~normalize.css";
@import "variables";

/*IMPORT-RESET-BODY-MAIN-HAMBURGER-LIST*/
@import "modules/navigation.scss";
@import "modules/header.scss";
@import "modules/notes.scss";
@import "modules/dark-mode.scss";
@import "modules/grid.scss";
@import "modules/box-model.scss";
@import "modules/table.scss";
@import "modules/footer.scss";
@import "modules/colors-root.scss";

@import url("https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap");
/*RESET-m.korsan idea*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*BODY AND MAIN*/
::-webkit-scrollbar {
  display: none;
}
.body {
  background: var(--bacground1);
  font-family: "Miriam Libre", sans-serif;
  color: var(--color-gray);
  margin: 0;
}
.main {
  margin: 0 auto;
  max-width: 800px;
  margin-top: 69px;

  @media screen and (max-width: 1010px) {
    margin: 0 16px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 56px;
  }
  @media screen and (max-width: 425px) {
    margin-top: 46px;
  }
  @media screen and (max-width: 320px) {
    margin-top: 36px;
  }
}

/*MENU-HAMBURGER*/
.hot-dog {
  display: none;
  width: 100%;
  background: var(--text-font);
  color: white;
  margin: 0;
  border-style: double;
  @media screen and (max-width: 425px) {
    display: block;
  }
  &:hover {
    color: gray;
  }
}

/*LIST*/
.list {
  &__element {
    margin: 10px 0;
    @include mediaTabletMobile;
    &--special {
      margin-top: 4px;
      padding: 8px 0 0 0;
      border-top: 1px solid var(--text-font);
    }
  }
}

b {
  padding-right: 4px;
}